@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

#page-bg {
    background-color: #FFFFFF;
}

#navbar-bg {
    background-color: #F1F1EC !important;
    color: #45523E !important;
}

#carouselButton {
    background-color: #F1F1EC;
    border-radius: 2px;
    border: 2px solid #45523E;
    letter-spacing: 2px;
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;
    color: #45523E;
}

#carouselButton:hover {
    background-color: #45523E;
    transition: 0.4s;
    transform: scale(1.05);
    color: white;
}

#contactMeButton {
    background-color: #F1F1EC;
    border-radius: 2px;
    border: 2px solid #45523E;
    letter-spacing: 2px;
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;
    color: #45523E;
}

#contactMeButton:hover {
    background-color: #45523E;
    transition: 0.4s;
    transform: scale(1.05);
    color: white;
}

#navLink {
    color: #393e46;
}

#navLink:hover {
    font-weight: 600;
    transition: 0.2s;
}

#navLink.active {
    font-weight: 700;
    border-bottom: 0.5px solid #dcdada;
}

#contactMeImg {
    background-image: url(../public/neptune-banner.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 0px;
    padding: 60px;
}

#socialButton:hover {
    filter: invert();
    scale: 1.1;
}

.kitchen-banner {
    background-image: url(/public/kitchen-banner.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
}

.bedroom-banner {
    background-image: url(/public/bedroom-banner.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 0px !important;
}

.card-img-top-home {
    background-color: #C0B697;
    min-height: 275px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 25px;
}

.inner-box {
    background-color: #C0B697;
    border: 2px solid #F1F1EC;
    padding: 25px;
    height: 100%;
    width: 100%;
}

.card-title {
    font-weight: 600 !important;
}

.signature-font {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #F1F1EC;
}

#card {
    height: 100%;
    border-radius: 0px;
    background-color: #F1F1EC;
    color: #45523E;
    border: none;
}

#card-home {
    border-radius: 0px;
    background-color: #C0B697;
    color: white;
    border: none;
    height: 100%;
}

.banner {
    background-color: #F1F1EC;
    display: flex;
    padding: 80px;
    justify-content: center;
}

.home-quote {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
    color: #AC986A;
    max-width: 1200px;
}

.footer {
    background-color: #393e46;
    color: white;
    margin: 0;
    padding: 10px;
}